{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<!-- Header -->
<header class="masthead">
  <div class="container">
  <div class="row align-items-center">
    <!-- value prop -->
    <div class="col-lg-8 ">
      <div class="intro-text ">
        <div class="intro-heading">It's Nice To Meet You</div>
        <div class="intro-lead-in">
          Storytale est une plateforme d'écriture de jeu de rôle dédiée au jeu de rôle.
          Il vous permet de construire votre histoire et de lui donner vie.  <br/>
          C'est un outil simple et indépendant de tout système qui vous permet de créer
          ou modifier vos créations partout quand vous en avez besoin.
        </div>
      </div>
    </div>
    <!-- Signup -->
    <div class=" col-lg-4 ">
      <div class="align-self-center">
        <div class="card">
          <h4 class='card-header'>{% trans "Sign Up" %}</h1>
            {% if form.errors %}
              <div class="alert alert-danger">
                  {% for field in form %}
                    {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong><br />
                    {% endfor %}
                {% endfor %}
              </div>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class ='col-lg-12 align-self-center '>
            <form class="form-signin" enctype="multipart/form-data" action="" method = "POST">
            {% csrf_token %}
            <p class="text-info">

            {% for field in form %}
            {% bootstrap_field field show_label=False %}
            {% endfor %}
          </p>
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                 Next
              </button>
            {% endbuttons %}
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
{% endblock content %}
