{% extends "base.html" %}
{% load socialaccount %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{{title}}{% endblock %}

{% block content %}
<section id='masthead'>
<div class="container ">
<div class="row justify-content-center">
    <div class="card col-6">
      <div class="card-body text-center">
        <h4 class="card-title">{{title}}</h4>
         <p >{{help_text}}</p>
         {% crispy form %}
         <p class="card-text"> Vous n'avez pas encore de compte ? <a href="{% url  'signup' %}">Créez votre compte</a></p>
      </div>
  </div>
</div>
</section>
{% endblock %}
